@model Kutuphane_Yonetimi.Models.Entity.TBL_YAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YazarEkle</h2>

<form class="form-group" method="post">

    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control", placeholder = "Yazar Adı" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control", placeholder = "Yazar Soyadı" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay</label>
        @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control", placeholder = "Detay" })
    </div>
    <div style="margin-top:15px">
        <button type="submit" class="btn btn-primary">Yazar Ekle</button>
    </div>
</form>
