@model Kutuphane_Yonetimi.Models.Entity.TBL_YAZAR
@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YazarGuncelle</h2>

@using (Html.BeginForm("YazarGuncelle", "Yazar", FormMethod.Post, new { @class = "form-horizontal" }))
{
    
<div class=" form-group">
    <div style="margin-top:15px">
        
        <label for="ID">Yazar ID:</label>
        @Html.TextBoxFor(y => y.ID, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:15px">
        
        <label for="ID">Yazar AD:</label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        
        <label for="ID">Yazar SOYAD:</label>
        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        
        <label for="ID">Yazar DETAY:</label>
        @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Kaydet</button>
</div>
}
     