
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<br />
<br />



<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.d0</h3>
            <p> Alınacak Tutar</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.d1</h3>
            <p>Toplam Uye</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.d2</h3>
            <p>Kitap Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.d3</h3>
            <p>Emanet Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>


<link href="~/web2/css/jqvmap.css" rel="stylesheet" />
<link href="~/web2/css/style.css" rel="stylesheet" />
<link href="~/web2/css/clndr.css" rel="stylesheet" />
<link href="~/web2/css/nav.css" rel="stylesheet" />

<script src="~/web2/js/Chart1.js"></script>
<script src="~/web2/js/jquery.min.js"></script>
<script src="~/web2/js/jquery.vmap.js"></script>
<script src="~/web2/js/jquery.vmap.sampledata.js"></script>
<script src="~/web2/js/jquery.vmap.world.js"></script>
<script src="~/web2/js/jquery.nicescroll.js"></script>
<script src="~/web2/js/clndr.js"></script>
<script src="~/web2/js/jquery.easydropdown.js"></script>
<script src="~/web2/js/main.js"></script>
<script src="~/web2/js/moment-2.2.1.js"></script>
<script src="~/web2/js/site.js"></script>
<script src="~/web2/js/underscore-min.js"></script>