@model Kutuphane_Yonetimi.Models.Entity.TBL_PERSONEL
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>PersonelEkle</h2>






@using (Html.BeginForm("PersonelEkle", "Personel", FormMethod.Post))
{
    <div class="form-group">
        <label for="PERSONEL">Personel Adı ve Soyadı</label>
        @Html.TextBoxFor(m => m.PERSONEL, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PERSONEL, "", new { @class = "text-danger" , required = "required" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>
}
